$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$mainBGColor: hsl(217, 54%, 11%);
$cardBGColor: hsl(216, 50%, 16%);
$lineColor: hsl(215, 32%, 27%);
$whiteColor: hsl(0, 0%, 100%);
$boxShadow: 0 5rem 2rem rgba(0, 0, 0, 0.2);

$borderRadius: 1rem;

$defaultFonts: "Outfit", sans-serif;

$defaultTransition: ease-in 0.3s;